@import helper._
@import forms.CreateUserForm
@(createUserForm: Form[CreateUserForm])(implicit messages: MessagesProvider)

<!DOCTYPE html>
<html>
<head>
    <title>ユーザ登録</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
@formHeader(createUserForm)
@form(action = routes.UserController.postCreate()) {
@formTable("ユーザ登録") {
@inputText(field = createUserForm("name"))(tableRowInput,implicitly[Messages])
@inputPassword(field = createUserForm("password"))(tableRowInput,implicitly[Messages])
@inputPassword(field = createUserForm("passwordConfirm"))(tableRowInput,implicitly[Messages])
}
<input value="登録" type="submit">
}
</body>
</html>