@import helper._
@import forms.LoginForm
@(loginForm: Form[LoginForm])(implicit messages: MessagesProvider)

<html>
<head>
    <title>ログイン</title>
</head>
<body>

@formHeader(loginForm)
@form(action = routes.AuthenticationController.postLogin()) {
    @formTable("ログイン") {
    @inputText(field = loginForm("loginMail"))(tableRowInput,implicitly[Messages])
    @inputPassword(field = loginForm("loginPassword"))(tableRowInput,implicitly[Messages])
    }
    <input value="ログイン" type="submit">
}
</body>
</html>