@import helper._
@import forms.StartCreateUserRequestForm
@(startCreateUserRequestForm: Form[StartCreateUserRequestForm])(implicit messages: MessagesProvider)

<!DOCTYPE html>
<html>
<head>
    <title>ユーザ登録</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
    @formHeader(startCreateUserRequestForm)
    @form(action = routes.UserController.postCreateStartRequest()) {
        @formTable("ユーザ登録申込") {
            @inputText(field = startCreateUserRequestForm("mail"))(tableRowInput,implicitly[Messages])
        }
        <input type="submit">
    }
    </body>
</html>