@import helper._
@import forms.NewStatusForm
@(userID:Int,statuses:Seq[StatusWithUser],newStatusForm:Form[NewStatusForm],errorMessage:String = null)(implicit messages: MessagesProvider)

@main("statuses"){

@if(errorMessage != null){
    <p class="error">@(errorMessage)</p>
}
<div style="text-align:right;">
    <a href="@(routes.AuthenticationController.getLogout())">ログアウト</a>
</div>

@formHeader(newStatusForm)
@form(action = routes.StatusController.postStatus()) {
@formTable("新しいつぶやき") {
@inputText(field = newStatusForm("text"))(tableRowInput,implicitly[Messages])
}
<input value="つぶやく" type="submit">
}


<table  border=1>

    @for(status <- statuses) {
        <tr><td>@status.userName</td><td>@status.text</td>
            @if(status.userID == userID){
                <td>
                    @form(action = routes.StatusController.deleteStatus(status.statusID.toString())) {
                        <input value="削除" type="submit">
                    }
                </td>
                <td>
                    @form(action = routes.StatusController.startUpdateStatus(status.statusID.toString())) {
                        <input value="更新" type="submit">
                    }
                </td>
            }

        </tr>
    }



</table>

}
